@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,100&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

input[type=text],
input[type=email],
select,
textarea {
  background: rgba(67, 82, 123, 0.25);
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  color: white;
}

input[type=submit],
button {
  background: rgba(73, 93, 147, 0.955);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover,
button:hover {
  background: rgba(67, 82, 123, 0.955);
}

.nav-buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

button {
  border: 1px solid hsl(224, 34%, 70%);
  background-color: #cccccc00;
}

.loading-send,
.loading-animation {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact,
.circle {
  box-shadow: -3px 4px 5px 0 rgba(31, 38, 135, 0.147);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  box-shadow: -3px 4px 5px 0 rgba(31, 38, 135, 0.147);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
}

.contact {
  width: 60vw;
  background: rgba(67, 82, 123, 0.25);
  border-radius: 10px;
  padding: 20px;
}

.loading-send {
  z-index: 0;
  opacity: 0;
}

.loading-send {
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.loading-animation {
  flex-flow: row;
}

.circle {
  border-radius: 50%;
  width: 50px;
  aspect-ratio: 1;
  background: rgba(123, 67, 121, 0.25);
  animation: load 3s infinite ease alternate;
  -webkit-animation: load 3s infinite ease alternate;
  border: 1px solid rgba(245, 222, 179, 0.482);
  transform: translateY(50px);
  -webkit-transform: translateY(50px);
}

.circle:nth-child(1) {
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
}

.circle:nth-child(2) {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}

@keyframes load {
  0% {
    scale: 1;
    transform: translateY(50px);
    -webkit-transform: translateY(50px);
  }

  50% {
    background-color: rgb(21, 43, 83);
    border: 1px solid rgba(207, 179, 245, 0.482);
    scale: 1.2;
  }

  100% {
    transform: translateY(-50px);
    -webkit-transform: translateY(-50px);
    scale: 1;
  }
}