#home,
.creditTo,
.creditTo a {
  display: flex;
  align-items: center;
}

#home,
.creditTo {
  justify-content: space-evenly;
}

#home {
  width: 100px;
  position: absolute;
  bottom: 10%;
  text-decoration: none;
  color: aliceblue;
}

#home:hover {
  color: black;
  background-color: rgba(221, 239, 255, 0.844);
}

#home,
.creditTo a {
  padding: 10px;
  box-shadow: -3px 4px 5px 0 rgba(31, 38, 135, 0.147);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border: 1px solid rgba(255, 255, 255, 0.164);
  border-radius: 10px;
}

.creditTo {
  width: 100vw;
  height: 100vh;
  flex-flow: row;
  flex-wrap: wrap;
}

.creditTo a {
  width: 200px;
  flex-flow: column;
  justify-content: center;
  text-align: center;
  text-decoration: none;
  background: rgba(67, 82, 123, 0.25);
  color: rgba(240, 248, 255, 0.527);
}

@media screen and (max-width: 800px) {
  .creditTo {
    overflow-y: scroll;
  }

  .creditTo a {
    margin: 80px;
    min-width: 180px;
  }

  #home {
    right: 20px;
    bottom: 40px;
    border: 1px solid white;
  }

}