@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;1,100&display=swap");

* {
  transition: 500ms;
}

::-webkit-scrollbar {
  width: 0px;
}

.container {
  display: none;
  overflow: hidden;
  scale: 0.9;
  grid-template-areas:
    "lh lh lh lh  lh  lh  xpEdu xpEdu"
    "ps ps ps skl skl skl xpEdu xpEdu"
    "ps ps ps skl skl skl xpEdu xpEdu"
    "ps ps ps skl skl skl ach   ach"
    "ps ps ps skl skl skl ach   ach"
    "p  p  p  skl skl skl con   con"
    "p  p  p  skl skl skl con   con";
  grid-gap: 12px;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 1fr);
  opacity: 0;
}

body,
.logo,
.logo-action,
#secondary,
#primary,
.flip-card-front:has(.icon),
.personality,
.redirect,
.loading-screen,
#trailer {
  display: flex;
  justify-content: center;
  align-items: center;
}

body,
.loading-screen,
.container {
  width: 100vw;
  height: 100vh;
}

.loading-screen,
.skills,
.list section,
.contact-section,
#personality-info {
  flex-flow: column;
}

.loading-screen,
body {
  background-image: url("../images/Simple\ Shiny.svg");
  background-size: cover;
  background-image: url("../images/Simple\ Shiny.svg");
  background-size: cover;
}

#personal-logo,
#trailer {
  border-radius: 50%;
  aspect-ratio: 1;
}

.loading-screen {
  position: absolute;
  z-index: 1000;
}

#personal-logo {
  width: 200px;
  margin-left: 20px;
  animation: logoEntrance 2s ease 0s 1 normal forwards;
  -webkit-animation: logoEntrance 2s ease 0s 1 normal forwards;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
  background-color: #080b10;
  color: aliceblue;
}

#trailer {
  position: fixed;
  width: 3vw;
  opacity: 0;
  left: 0;
  top: 0;
  text-overflow: clip;
  font-weight: 200;
  text-align: center;
  font-size: 0.6rem;
  background-color: rgba(122, 39, 167, 0.692);
  color: white;
  pointer-events: none;
  transition: opacity 500ms ease;
  animation: pulse 2s infinite;
  -webkit-animation: pulse 2s infinite;
  z-index: -1;
}

body:hover>#trailer {
  opacity: 1;
}

.logo {
  justify-content: space-around;
  height: 100px;
  margin-left: 30px;
  width: 50%;
  font-size: 2cqw;
}

.logo-action {
  grid-area: lh;
  box-sizing: border-box;
  justify-content: space-between;
}

.links>button {
  display: flex;
  justify-content: space-around;
  width: 200px;
  padding: 10% auto;
  font-family: "Poppins", sans-serif;
}

.links>button:nth-child(2) {
  background-color: #080b1000;
  color: aliceblue;
  border: 2px solid aliceblue;
}

.links>button:nth-child(1):hover,
button:hover,
input[type=submit]:hover {
  background-color: #080b106f;
  color: aliceblue;
  scale: 1.08;
}

.links>button:nth-child(2):hover {
  background-color: aliceblue;
  color: #000000;
  border: 2px solid #000000;
}

.personal-statement {
  grid-area: ps;
  box-sizing: border-box;
  padding: 5%;
  color: rgba(240, 248, 255, 0.26);
}

.personality {
  padding: 5%;
  grid-area: p;
  box-sizing: border-box;
  color: rgba(240, 248, 255, 0.26);
}

.personal-statement:hover,
.personality:hover,
.skills:hover {
  color: aliceblue;
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
}

.skills {
  grid-area: skl;
  box-sizing: border-box;
  display: flex;
}

#secondary {
  box-sizing: border-box;
  height: 50%;
  flex-wrap: wrap;
  padding: 0 20%;
}

#secondary>img {
  width: 23%;
  aspect-ratio: 1;
}

#primary {
  flex-flow: row;
  height: 60%;
}

#primary>img {
  width: 50%;
  display: grid;
}

.xp-edu {
  grid-area: xpEdu;
  box-sizing: border-box;
}

.achievements {
  grid-area: ach;
  box-sizing: border-box;
}

.list {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}

.list section {
  height: 100%;
  border: 1px solid white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  overflow-y: scroll;
  margin-top: 10px;
  border-top: none;
  border-bottom: none;
  font-size: 12px;
  padding: 10px;
}

.contacts {
  grid-area: con;
  box-sizing: border-box;
}

.contacts .flip-card-front {
  scale: 0.95;
  border-radius: 17px;
  background-color: hsla(224, 29%, 10%, 0.623);
  border: 1px solid white;
  letter-spacing: 1.3px;
}

#contact-info {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-evenly;
}

#contact-info button,
.contact-section a {
  display: flex;
  justify-content: space-around;
  width: 150px;
  padding: 10% auto;
  font-family: "Poppins", sans-serif;
}

.contact-section {
  display: flex;
}

.contact-section a {
  text-decoration: none;
  color: rgba(234, 245, 254, 0.834);
}

.card,
.flip-card-inner,
.flip-card-back,
.flip-card-front,
.⏹️ {
  border-radius: 10px;
}

.⏹️,
.flip-card-front,
.flip-card-back,
.card {
  background: rgba(67, 82, 123, 0.25);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 10px;
}

.card .flip-card-front {
  animation: tilt 3s infinite;
  -webkit-animation: tilt 3s infinite;
}

.card .flip-card-front .icon {
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
}

.flip-card-front:has(.icon),
.personality {
  justify-content: space-around;
  flex-flow: row;
}

.icon {
  padding: 10px;
  border-radius: 79px;
  box-shadow: 28px 28px 69px #0d1118bc, -28px -28px 69px #1d253473;
  animation: pulse 2s infinite;
  -webkit-animation: pulse 2s infinite;
}

h2 {
  font-size: clamp(1rem, 1.7vw, 2rem);
}

.personal-statement>p {
  font-size: 2.2cqh;
}

#personality-info {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  scale: 0.8;
}

#personality-info>h2 {
  font-weight: 300;
  margin: 0;
}

#personality-info>p {
  font-size: 1cqw;
  margin-top: 5px;
  margin-bottom: 10px;
}

.redirect {
  justify-content: flex-start;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
  border: 1px solid black;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  margin-right: 10px;
  font-size: 1.3cqh;
  height: 40px;
  width: max-content;
}

#education-button {
  padding: 9px;
  animation: pulse 2s infinite;
  -webkit-animation: pulse 2s infinite;
  color: aliceblue;
  border: 2px solid aliceblue;
  background-color: transparent;
  font-size: 15px;
}

#personality-icon {
  margin: 0 10%;
}

#personality-icon,
#personality-info {
  padding: 0 15px;
}

.flip {
  scale: 0.9;
  background-color: rgba(240, 248, 255, 0.699);
}

@keyframes tilt {
  0% {
    scale: 0.9;
    transform: rotateY(-12deg);
    -webkit-transform: rotateY(-12deg);
    border-right: 1px solid white;
    border-left: none;
  }

  50% {
    transform: rotateY(15deg);
    -webkit-transform: rotateY(15deg);
    background: rgba(67, 82, 123, 0.3);
    border-left: 1px solid white;
    border-right: none;
  }

  100% {
    border-left: none;
    border-right: 1px solid white;
    scale: 0.9;
    transform: rotateY(-12deg);
    -webkit-transform: rotateY(-12deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.189);
  }

  70% {
    transform: scale(1);
    -webkit-transform: scale(1);
    box-shadow: 0 0 0 10px rgba(123, 39, 167, 0.19);
  }

  100% {
    transform: scale(0.95);
    -webkit-transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(123, 39, 167, 0.19);
  }
}

@keyframes logoEntrance {
  0% {
    animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(-250px);
    -webkit-transform: translateY(-250px);
  }

  38% {
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }

  55% {
    animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    transform: translateY(-65px);
    -webkit-transform: translateY(-65px);
  }

  72% {
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }

  81% {
    animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    transform: translateY(-28px);
    -webkit-transform: translateY(-28px);
  }

  90% {
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }

  95% {
    animation-timing-function: ease-in;
    -webkit-animation-timing-function: ease-in;
    transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
  }

  100% {
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    transform: translateY(0);
    -webkit-transform: translateY(0);
  }
}

@media screen and (max-width: 1200px) {
  .logo {
    font-size: 2cqh;
  }

  .container {
    grid-template-areas:
      "lh lh lh lh  lh  xpEdu  xpEdu xpEdu"
      "ps ps skl skl skl xpEdu xpEdu xpEdu"
      "ps ps skl skl skl xpEdu xpEdu xpEdu"
      "ps ps skl skl skl ach ach   ach"
      "ps ps skl skl skl ach ach   ach"
      "p  p  p  p con con con   con"
      "p  p  p  p con con con   con";
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 1fr);
  }

  .contacts .flip-card-front {
    font-size: 2cqw;
  }

  #personality-info {
    box-sizing: border-box;
  }

  #personality-info>p {
    font-size: 1.3cqw;
  }

  .personal-statement>p {
    font-size: 1.6cqh;
  }
}

@media screen and (max-width: 800px) {
  .links>button{
    width: 45cqw;
  }

  #trailer {
    display: none;
  }

  #personality-icon {
    margin: 10px;
    padding: 0;
    width: 22%;
  }

  #personality-info {
    width: 50%;
  }

  .skills,
  .personal-statement {
    padding: 25px;
  }

  .container {
    overflow-y: scroll;
    grid-template-areas:
      "lh lh lh lh lh lh"
      "ps ps ps ps ps ps"
      "ps ps ps ps ps ps"
      "skl skl skl skl skl skl"
      "skl skl skl skl skl skl"
      "skl skl skl skl skl skl"
      "p p p p p p"
      "p p p p p p"
      "xpEdu xpEdu xpEdu xpEdu xpEdu xpEdu"
      "xpEdu xpEdu xpEdu xpEdu xpEdu xpEdu"
      "ach ach ach ach ach ach"
      "ach ach ach ach ach ach"
      "con con con con con con"
      "con con con con con con";
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(14, max-content);
    grid-gap: 22px;
  }

  .personal-statement {
    height: max-content;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }

  h2 {
    color: rgba(240, 248, 255, 0.726);
  }

  p {
    color: rgba(234, 245, 254, 0.616);
  }

  .personal-statement>h2 {
    margin-bottom: 10px;
  }

  .personal-statement>p {
    margin-top: 5px;
    font-size: 1.7cqh;
  }

  .personality {
    display: flex;
    height: max-content;
  }

  #personality-info>h2,
  h2 {
    font-size: 3.1cqh;
  }

  #personality-info>p {
    margin-top: 3px;
    margin-bottom: 10px;
    font-size: 1.7cqh;
    font-weight: 100;
  }

  #primary>img {
    width: 40%;
    display: grid;
  }

  .card {
    height: 25vh;
  }

  .contacts {
    height: 15vh;
    margin-bottom: 80px;
  }

  .contacts a {
    font-size: 1.7cqh;
  }

  .redirect {
    height: fit-content;
    padding: 5px;
    width: max-content;
  }

  .card .flip-card-front {
    animation: tilt 3s infinite;
    ;
  }
}